/* Add Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&display=swap');

/* All Class using same dataset */
:root{
    /* Define Variable */
    --accent : #FD6B6B; /* Button color frome figma */
    --accentHover : #ffA3A3; /*mouse Hover -> Light */
    --dark60 : rgba(68, 90, 139, 0.6);/* 0.6 = 60% */
    --light : #FFFFFF;
    --transition : all 0.3s ease 0s; /* Define delay time */
    
}

/* All section */

*{
    /* clear margin and padding */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;/* fixed height using Scroll */
    overflow: auto;
}

body{
    /* Gradien Shade of Collor */
    /*background: linear-gradient( var(--dark60), var(--dark60) ),

    url(images/background\ 1.jpg);*/
    
    background-image: url(images/background\ 1.jpg);
    background-repeat: no-repeat;
    background-position : center;
    background-size: cover; /* Fixed Scale Screen */
    
    
}

a, button, p{
    font-family: "Roboto Mono", sans-serif;
    color: var(--light);
}

a, button, .logo{
    cursor: pointer; /* Liink Element Hand cursor */
}

main{
    height: 100%;
    display: grid; /* work on Grid */
    grid-template-columns: minmax(60px,1fr) repeat(6, minmax(50px, 190px)) minmax(60px, 1fr);
}

header{
    grid-column: 1 / span 6;/* header start 1st col and otherslast colum */
    margin-left: 5%;
}
nev{
    display: flex;
    align-items: center;
    height: 150px;
}

/* class */
.links{
    margin-left: auto;
}

.links a, .links button{
    font-size: 1.5rem; /* up site nev */
    font-weight: 400;
    transition: var(--transition);/* Action */
}

.links a{
    margin-right: 20px;
}

.links a:hover{
    color: var(--accentHover);/* cursor hover --> chang color */
}

.button_med{
    border: none;
    background-color: var(--accent);
    padding: 8px 25px;
    transition: var(--transition);
}

.button_med:hover{
    color: var(--accentHover);
}

/* content */

.info{
    grid-column: 2/ span 6;
    margin-top: 20%;
    text-align: center;
    margin-left: 3%;
}

.content_font1{
    font-family: "Roboto Mono", sans-serif;
    color: black;
    font-size: 3rem;

}

.content_font2{
    font-family: "Roboto Mono", sans-serif;
    color: var(--light);
    font-size: 1.5rem;
}

.icons{
    margin: 10%;
    display: flex;
    margin-left: 17%;
}

.icon{
    margin-right: 30px;
}

.icon img{
    width: 60px;
    height: 60px;
}

.icon .info{
    text-align: center;
}

/* feature Bar */

.features{
    grid-column: 2 / span 7;
    background-color: #EBFF00;
    /* top right bottom left */
    padding: 30px 0px 0px 20px;
    display: flex;
    align-items: left;
}

.feature{
    display: flex;
    /* top right bottom left */
    margin: 0px 10px 20px 10px;
}

.feature img{
    width: 250px;
    height: 170px;
    margin-right: 20px;
}

.feature_info p{
    color: black;
}

.feature_top, .feature_more{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.feature_bottom{
    font-size: 15px;
    font-weight: normal;
}

.feature:nth-child(3){
    align-self: flex-start;
    margin-right: 10%;
}

.feature_more{
    cursor: pointer;
    transition: var(--transition);
}

.feature_more:hover{
    color: var(--accentHover);
}

/* Responsive Website */

@media only screen and (max-width:1100px){
    .icon img{
        height: 60px;
        width: auto;
    }
    .content_font1, .content_font2{
        font-size: 2.75rem;
    }
    .feature{
        grid-column: 1 / span 7;
    }
}

@media only screen and (max-width:850px) {
    .info{
        grid-column: 2 / span7;
    }
    .icons{
        flex-direction: column;
    }
    .content_font1, .content_font2{
        font-size: 1.75rem;
    }
    .features{
        flex-direction: column;
    }
}